#create-level-json {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#create-level-json h2 {
    color: white;
    font-size: 24px;
}

#create-level-json  #label-resource {
    display:inline-block;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    align-self: center;
}

ol {
    display: flex;
    flex-direction: column;
}

ol li {
    font-size: 20px;
    color: white;
    margin-bottom: 1rem;
    margin: 0.8rem;
}

.generic-button {
    margin: 0.8rem;
    align-self: center;
}
